body {
	margin: 0;
}
.wrapper {
	width: 1920px;
	height: 1080px;
	position: relative;
}
.datetime {
	font-family: monospace;
	font-size: 10px;
	color: #999;
	position: absolute;
	bottom: 10px;
	left: 10px;
}